*{
    margin:0;
    padding:0;
}



#nav-row{
    height: 60px;
    background-color: #31b0d5;
    vertical-align: middle;

}


.slider-wrapper {
    width: 100%;
    margin: 10px auto;
}
li a{
    font-size: large;
    font-style: normal;
}

#logo{
    width:80px;
    height: 40px;
    margin-top: 10px;
}

#telephone{
    width:auto;
    height: 40px;
    margin-top: 10px;
}




.zn-footer{
    height: 240px;
    background-color: #101010;
    margin-bottom: 20px;
}

.clear{
    margin:0;
    padding:0;
}

/** nav block  **/
.product{
    width:1155px; margin:0 auto; position:relative;
}
.tit_bt{line-height:30px;}
.tit_bt .l_txt{ float:left;}
.tit_bt .l_txt span{ font-size:26px; margin-right:8px;}
.tit_bt .l_txt i{font-size:14px; margin-left:8px; font-style:normal}
.tit_bt .r_txt{float:right; display:block; }
.tit_bt .r_txt i{font-size:12px; font-style:normal; color:#666}
.tit_bt .r_txt i:hover{color:#F63}
.l_pro_1{width:570px; float:left; position:relative; }
.r_pro_2{width:570px; float:right; position:relative;}

.sgw_img{overflow:hidden;height:240px;width:570px; display:block;}
.sgw_img .dd{width:100%;height:100%;}
.sgw_img .box{display:none;width:100%;height:240px;background:url(/img/b_l.png) repeat-x ;position:absolute;line-height:18px;color:#e69714;top:0px;text-align:center; z-index:501}
.sgw_img .dd:hover .box{ display:block;}
.box .da{width:120px; display:block; margin:0 auto; padding-top:110px}
.box .da a{ display:block; font-size:14px; color:#fff; text-align:center; border:1px solid #fff; color:#fff; padding:2px 5px; border-radius:15px}
.t_wz{position:relative; border:1px solid #f3f3f3; border-top:none; height:94px; overflow:hidden;}
.t_wz .l_t{ float:left; width:65%;}
.t_wz .l_t h3{padding:15px 0 7px 15px; font-size:14px;color:#999}
.t_wz .l_t h3 b{ font-size:18px; margin-right:5px; font-weight:500; color:#333}.t_wz .l_t h3 span{font-size:14px; margin-left:5px; color:#666}
.t_wz .l_t p{ font-size:12px;padding:0 0 0px 15px; color:#666}
.t_wz .r_a{float:right; width:120px;}
.t_wz .r_a a{ font-size:12px;  display:block; text-align:center; margin:15px 12px 30px 0; padding:1px 5px ; border:1px solid #666; border-radius:20px}
.t_wz .r_a a:hover{border:1px solid #cf2b3b; color:#cf2b3b}
.product2{
    width:1155px; margin:0 auto;
}

.pro_qb ul li{float:left; width:375px; overflow:hidden; margin:0px 15px 20px 0; height:360px}
.pro_qb ul li .sgw_img{ width:375px; height:240px;}
.pro_qb ul li .sgw_img .box{width:375px; height:240px;}

/*师资力量*/
.teachers{ width:1155px; margin:0 auto;}
.teachers li{
    float:left;
    width: 277px;

}
.news{width:1155px; margin:0 auto; position:relative; bottom:-15px;}

/*refactor*/
.product-title p{
    font-size: 18px;
    padding-left: 10px;
    background-color:#eeeeee;
    line-height: 50px;
    color:#000000;
    border-radius: 20px 0 20px 0;
}
